@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Cafe24SsurroundAir';
}

.container {
    width: 860px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: black;
}
.topMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

#logo img{
    cursor: pointer;
    width: 120px;
    padding: 10px;
}
#searchKeyword{
    border: none;
    border-bottom: 2px solid skyblue;
    width: 300px;
    height: 40px;
    font-size: 20px;
}
#searchKeyword:focus{
    outline: none;
}
#searchKeyword{
    padding: 10px;
}
#searchBox img{
    width: 20px;
    height: 20px;

}
#searchButton{
    position: relative;
    top: 5px;
    right: 30px;
    background-color: rgba(0,0,0,0);
    border: none;
}
#logInfo{
    margin-right: 10px;
}
.menuBar{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    margin-top: 10px;
    color:#767778;
    border-radius: 3px;
}
.content{
    min-height: 500px;
    width: 1000px;
    margin: 0 auto;
}
.footer{
    height: 40px;
}
.loginBox{
    width: 350px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
    margin: 0 auto;
    position: relative;
    top : 70px;
}
#loginLine{
    border-top: thin solid #c0c0c0;
    width: 88%;
    margin-top: 10px;
}
.loginBox img{
    position: relative;
    margin-top: 30px;
    left: 35px;
}
.loginBox input{
    width: 280px;
    height: 30px;
}
.loginBox form{
    margin-left: 35px;
}
.loginBox input[type='text'], input[type='password']{
    padding: 10px;
}
.loginBox input[type='button']{
    color: skyblue;
    border-radius: 7px;
    border: 1px solid skyblue;
    background: rgba(0,0,0,0);
    margin: 5px 0;
}
.loginBox input[type='submit']{
    background-color: skyblue;
    border-radius: 7px;
    border: none;
    color: white;
    margin: 5px 0;
}

/*홈화면 CSS*/

.banner {
    width: 10000px;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.banner li {
    float: left;
}

.banner img {
    width: 1000px;
    height: 250px;
    object-fit: cover;
}

.banner-wrapper {
    margin-top: 10px;
    width: 1000px;
    height: 250px;
    overflow: hidden;
    position: relative;
}

.banner-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}

.prev, .next {
    position: absolute;
    cursor: pointer;
    opacity: 0.7;
    width: 50px;
    height: 50px;
}

.prev {
    left: 0;
    transform: translateY(-50%);
}

.next {
    right: 0;
    transform: translateY(-50%);
}

h2{
    margin-top: 20px;
    padding: 10px;
}

.best-box-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.best-box {
    flex-basis: 24%;
    overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #dad7d7;
}

.best-box img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.best-box h3 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: bold;
}

.best-box p {
    font-size: 14px;
    margin-bottom: 10px;
}

.best_text{
    padding: 10px;
}

/* 회원가입폼 */
.subTitle{
    text-align: center;
    font-size: 25px;
    margin: 30px 0 0 0;
}